@use "../scss/colors";

.container {
  margin: auto;
  max-width: 1080px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.heading {
  color: colors.$grey;
  text-transform: lowercase;
  font-weight: bolder;
  padding: 1em;
  background-color: colors.$lavender;
}
